<form class="{{cssClass}} flexcol pf1alt" autocomplete="off">

  {{#if isCharacter}}
    {{#unless hasClasses}}
      <span class="warning">{{localize "PF1AS.InfoMissingClass"}}</span>
    {{/unless}}
  {{/if}}

  <div class="working">
    <div>
      <h1>
        Updating
      </h1>
    </div>
  </div>
  {{!-- Sheet Header --}}
  <header class="sheet-header flexrow">
    <div class="profile">
      <div class="buffbox flexrow">
        {{#each buffs.all.items as |buff bif|}}
          {{#if buff.data.active}}
            <div class="item-image tooltip" style="background-image: url('{{buff.img}}')">
              <span class="tooltipcontent">
                  {{buff.name}}
                </span>
            </div>
          {{/if}}
        {{/each}}
      </div>
      <img src="{{actor.img}}" class="profile" data-edit="img">
    </div>
    <div class="header-details flexcol">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}" title="{{localize "PF1.CharacterName"}}"/>
        </h1>

        {{#if isCharacter}}
          <div class="charlevel">
            <div class="flexrow">
              <div class="level tooltip {{#if disableExperience}}noxp{{/if}}">
                <span class="tooltipcontent">
                  @attributes.hd.total : {{data.attributes.hd.total}}<br />
                  @details.level.value : {{data.details.level.value}}
                  {{#if data.details.mythicTier}}
                    <br />
                    @details.mythicTier : {{data.details.mythicTier}}
                  {{/if}}
                </span>
                <span>
                  {{localize "PF1.Level"}} {{data.details.level.value}}
                  {{#if data.details.mythicTier}}
                    | {{localize "PF1.Tier"}} {{data.details.mythicTier}}
                  {{/if}}
                </span>
              </div>
              <div class="settings">
                <a class="settings-button"><i class="fas fa-cog"></i></a>
              </div>
            </div>

            {{#unless disableExperience}}
              <div class="experience">
                <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" placeholder="0"/>
                <span class="max"> / {{data.details.xp.max}}</span>
              </div>
              <div class="xpbar">
                <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
              </div>
            {{/unless}}
          </div>
        </div>
      {{else}}
        <div class="charlevel">
            <div class="flexrow">
              <div class="level tooltip {{#if disableExperience}}noxp{{/if}}">
                <span class="tooltipcontent">
                  @attributes.hd.total : {{data.attributes.hd.total}}<br />
                  @details.level.value : {{data.details.level.value}}<br />
                  @details.cr.base : {{data.details.cr.base}}<br />
                  @details.cr.total : {{data.details.cr.total}}
                  {{#if data.details.mythicTier}}
                    <br />
                    @details.mythicTier : {{data.details.mythicTier}}
                  {{/if}}
                </span>
                <span>
                  {{localize "PF1.Level"}} {{data.details.level.value}}
                  {{#if data.details.mythicTier}}
                    | {{localize "PF1.Tier"}} {{data.details.mythicTier}}
                  {{/if}}
                </span>
              </div>
              <div class="settings">
                <a class="settings-button"><i class="fas fa-cog"></i></a>
              </div>
            </div>
            <div class="flexrow">
              <span>{{localize "PF1.ChallengeRatingShort"}}</span>
              <span class="text-box cr-input" name="data.details.cr.base">{{labels.cr}}</span>
              <span>{{localize "PF1AS.ExperienceShort"}} {{data.details.xp.value}}</span>
            </div>
          </div>
        </div>
      {{/if}}

      {{!-- Character Summary --}}
      <div class="flexcol">
        <ul class="summary">
          <li>
            <input type="text" name="data.details.gender" value="{{data.details.gender}}" placeholder="{{localize "PF1.Gender"}}" title="{{localize "PF1.Gender"}}"/>
          </li>
          <li>
            <select name="data.details.alignment" data-dtype="String">
              {{#select data.details.alignment}}
              <option value="lg">{{localize "PF1.AlignmentLG"}}</option>
              <option value="ng">{{localize "PF1.AlignmentNG"}}</option>
              <option value="cg">{{localize "PF1.AlignmentCG"}}</option>
              <option value="ln">{{localize "PF1.AlignmentLN"}}</option>
              <option value="tn">{{localize "PF1.AlignmentTN"}}</option>
              <option value="cn">{{localize "PF1.AlignmentCN"}}</option>
              <option value="le">{{localize "PF1.AlignmentLE"}}</option>
              <option value="ne">{{localize "PF1.AlignmentNE"}}</option>
              <option value="ce">{{localize "PF1.AlignmentCE"}}</option>
              {{/select}}
            </select>
          </li>
          <li>
            <input type="text" name="data.details.deity" value="{{data.details.deity}}" placeholder="{{localize "PF1.Deity"}}" title="{{localize "PF1.Deity"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.age" value="{{data.details.age}}" placeholder="{{localize "PF1.Age"}}" title="{{localize "PF1.Age"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.height" value="{{data.details.height}}" placeholder="{{localize "PF1.Height"}}" title="{{localize "PF1.Height"}}"/>
          </li>
          <li>
            <input type="text" name="data.details.weight" value="{{data.details.weight}}" placeholder="{{localize "PF1.Weight"}}" title="{{localize "PF1.Weight"}}"/>
          </li>
          <!-- race._id is correct here as race is an ItemData which is not a Document -->
          <li class="flexrow race-container item {{#unless race}}norace{{/unless}}" {{#if race}}data-item-id="{{race._id}}"{{/if}} style="width: 66.66%">
            <div class="race item-image rollable" style="background-image: url({{race.img}}); {{#if race}}width:22px{{/if}}" title="{{labels.race}}">
              {{#unless race}}
                {{localize "PF1.Race"}}
              {{/unless}}
            </div>

            {{#if race}}
              <div>
                <span style="flex: 0">{{race.name}}</span>
                  <span class="race-info tag type3" style="margin-left: 5px;">{{lookup config.creatureTypes race.data.creatureType}}</span>
                  {{#each race.data.subTypes as |v|}}
                    <span class="race-info tag">{{v}}</span>
                  {{/each}}
              </div>
            {{/if}}
            <div class="item-controls flexrow" style="flex: 0 40px;">
              {{#if owner}}
                {{#unless race}}
                  <a class="item-control add" title="{{localize "PF1.CreateItem"}}">
                    <i class="fas fa-plus"></i>
                  </a>
                  <a data-action="compendium" data-action-target="races" title="{{localize "PF1.OpenCompendium"}}">
                    <i class="fas fa-folder-plus"></i>
                  </a>
                {{/unless}}
                {{#if race}}
                  <a class="item-control edit" title="{{localize "PF1.EditItem"}}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control delete" title="{{localize "PF1.DeleteItem"}}">
                    <i class="fas fa-trash"></i>
                  </a>
                {{/if}}
              {{/if}}
            </div>
          </li>

          <li>
            <span style="margin-left: 4px">{{convertDistance data.attributes.speed.land.total}}{{#if (isMetric)}}m{{else}}ft{{/if}} {{ localize "PF1.SpeedLand" }} </span>
          </li>
        </ul>
      </div>

    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary-altsheet">
    <a class="item active" data-tab="details">{{ localize "PF1.Summary" }}</a>
    <a class="item" data-tab="attributes">{{ localize "PF1.Attributes" }}</a>
    <a class="item" data-tab="attacks">{{ localize "PF1.Combat" }}</a>
    <a class="item" data-tab="inventory">{{ localize "PF1.Inventory" }}</a>
    <a class="item" data-tab="feats">{{ localize "PF1.Features" }}</a>
    <a class="item" data-tab="skills">{{ localize "PF1.Skills" }}</a>
    <a class="item" data-tab="buffs">{{ localize "PF1.Buffs" }}</a>
    {{#if usesAnySpellbook}}
      <a class="item" data-tab="spellbook">{{ localize "PF1.Spells" }}</a>
    {{/if}}
    <a class="item" data-tab="biography">{{ localize "PF1.Biography" }}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  {{!-- NPC Sheet Body --}}
  <section class="primary-altsheet-body">
    {{!-- Details Tab --}}
    <div class="tab details flexcol" data-group="primary-altsheet" data-tab="details">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-details.hbs"}}
    </div>
    {{!-- Attributes Tab --}}
    <div class="tab attributes flexcol" data-group="primary-altsheet" data-tab="attributes">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-attributes.hbs"}}
    </div>
    {{!-- Attacks Tab --}}
    <div class="tab attacks flexcol" data-group="primary-altsheet" data-tab="attacks">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-attacks.hbs" sections=attacks}}
    </div>
    {{!-- Inventory Tab --}}
    <div class="tab inventory flexcol" data-group="primary-altsheet" data-tab="inventory">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-inventory.hbs" sections=inventory}}
    </div>
    {{!-- Features Tab --}}
    <div class="tab feats flexcol" data-group="primary-altsheet" data-tab="feats">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-features.hbs" sections=features}}
    </div>
    {{!-- Skills Tab --}}
    <div class="tab skills flexcol" data-group="primary-altsheet" data-tab="skills">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-skills-front.hbs"}}
    </div>
    {{!-- Buffs Tab --}}
    <div class="tab buffs flexcol" data-group="primary-altsheet" data-tab="buffs">
      {{> "modules/pf1-alt-sheet/templates/parts/actor-buffs.hbs" sections=buffs}}
    </div>
    {{!-- Spellbook Tab --}}
    {{#if usesAnySpellbook}}
      <div class="tab spellbook flexcol" data-group="primary-altsheet" data-tab="spellbook">
        {{> "modules/pf1-alt-sheet/templates/parts/actor-spellbook-front.hbs"}}
      </div>
    {{/if}}
    {{!-- Biography Tab --}}
    <div class="tab biography flexcol" data-group="primary-altsheet" data-tab="biography">
      {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
    </div>
    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary-altsheet" data-tab="notes">
      {{editor content=data.details.notes.value target="data.details.notes.value" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
