{{!-- AC --}}
<ul class="attributes armor-class flexrow" style="flex: none">
  <li>
    <h3 class="block-header tooltip">{{localize "PF1.ArmorClass"}}
      {{#if data.attributes.acNotes}}
      <div class="tooltipcontent">
          {{data.attributes.acNotes}}
      </div>
      {{/if}}
      <a title="{{localize "PF1.ACNotes"}}" class="note-editor small" for="data.attributes.acNotes"><i class="fas fa-edit"></i></a></h3>
  </li>
  <li>
    <h3 class="block-header tooltip">{{localize "PF1.SavingThrowPlural"}}
      {{#if data.attributes.saveNotes}}
      <div class="tooltipcontent">
          {{data.attributes.saveNotes}}
      </div>
      {{/if}}
      <a title="{{localize "PF1.SaveNotes"}}"  class="note-editor small" for="data.attributes.saveNotes"><i class="fas fa-edit"></i></a></h3>
  </li>
</ul>
<ul class="attributes armor-class flexrow" style="flex: none">
  {{#each data.attributes.ac as |ac id|}}
    <li class="attribute armor-class tooltip" data-armorclass="{{id}}">
      <div class="tooltipcontent">
        @attributes.ac.{{id}}.total : {{ac.total}}

        {{#if ac.sourceDetails.length}}
          <br/><br/>{{localize "PF1.FromSources"}}:<br/>
          {{#each ac.sourceDetails as |src|}}
            {{src.name}}: {{src.value}}<br/>
          {{/each}}
        {{/if}}
      </div>
      <h4 class="attribute-name box-title">{{ac.labelShort}}</h4>
      <div class="attribute-value">
        <span class="large">{{numberFormat ac.total decimals=0 sign=false}}</span>
      </div>
    </li>
  {{/each}}
  {{#each data.attributes.savingThrows as |savingThrow id|}}
    <li class="attribute saving-throw tooltip" data-savingthrow="{{id}}">
      <div class="tooltipcontent">
        @attributes.savingThrows.{{id}}.total : {{savingThrow.total}}

        {{#if savingThrow.sourceDetails.length}}
          <br/><br/>{{localize "PF1.FromSources"}}:<br/>
          {{#each savingThrow.sourceDetails as |src|}}
            {{src.name}}: {{src.value}}<br/>
          {{/each}}
        {{/if}}
      </div>
      <h4 class="attribute-name box-title rollable">{{savingThrow.label}}</h4>
      <div class="attribute-value" style="margin-bottom: -8px">
        <span >{{savingThrow.total}}</span>
      </div>
      <div class="attribute-footer">
         <select data-name="data.attributes.savingThrows.{{id}}.ability">
          {{#select savingThrow.ability}}
            <option value=""></option>
            {{#each ../config.abilities as |abl a|}}
              <option value="{{a}}">{{abl}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
    </li>
  {{/each}}
</ul>
<ul class="attributes armor-class flexrow" style="flex: none">
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.BaseCombatStats"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute initiative tooltip" data-attribute="init">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.Initiative"}}</h4>
        <div class="attribute-value">
          <span class="large">{{data.attributes.init.total}}</span>
        </div>
        <div class="tooltipcontent">
          @attributes.init.total : {{data.attributes.init.total}}

          {{#if sourceDetails.data.attributes.init.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
        </div>
      </li>
      <li class="attribute bab tooltip" data-attribute="bab">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.BABAbbr"}}</h4>
        <div class="attribute-value">
          <span class="large">{{data.attributes.bab.total}}</span>
        </div>
        <div class="tooltipcontent">
          @attributes.bab.total : {{data.attributes.bab.total}}

          {{#if sourceDetails.data.attributes.bab.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
        </div>
      </li>
    </ul>
  </div>
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.CombatManeuvers"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute cmd tooltip" data-attribute="cmd">
        <h4 class="attribute-name box-title">{{localize "PF1.CMDAbbr"}} ({{localize "PF1AS.FFShort"}}) <a class="note-editor small" for="data.attributes.cmdNotes" title="{{localize "PF1.CMDNotes"}}"><i class="fas fa-edit"></i></a></h4>
        <div class="attribute-value">
          <span class="large">{{data.attributes.cmd.total}} ({{data.attributes.cmd.flatFootedTotal}})</span>
        </div>
        <div class="tooltipcontent">
          @attributes.cmd.total : {{data.attributes.cmd.total}}
          @attributes.cmd.flatFootedTotal : {{data.attributes.cmd.flatFootedTotal}}

          {{#if sourceDetails.data.attributes.cmd.total.length}}
            <br/><br/>{{localize "PF1.FromSources"}}:<br/>
            {{#each sourceDetails.data.attributes.cmd.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
          {{#if data.attributes.cmdNotes}}
            <br />{{data.attributes.cmdNotes}}
          {{/if}}
        </div>
      </li>
      <li class="attribute cmb" data-attribute="cmb">
        <!-- there are no CMB notes -->
        <h4 class="attribute-name box-title"><span class="rollable">{{localize "PF1.CMBAbbr"}}</span>  <!--<a class="note-editor small" for="data.attributes.cmbNotes" title="{{localize "PF1.CMBAbbr"}} {{localize "PF1.Notes"}}"><i class="fas fa-edit"></i></a>--></h4>
        <div class="attribute-value tooltip" style="margin-bottom: -8px;">
          <span class="large">{{data.attributes.cmb.total}}</span>
          <span class="tooltipcontent">
            @attributes.cmb.total : {{data.attributes.cmb.total}}
            {{#if sourceDetails.data.attributes.cmb.total.length}}
              <br/><br/>{{localize "PF1.FromSources"}}:<br/>
              {{#each sourceDetails.data.attributes.cmb.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
            {{/if}}
          </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="flexcol">
    <li>
      <h3 class="block-header">{{localize "PF1AS.AttackBonuses"}}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute attack melee tooltip" data-attribute="melee">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.Melee"}}</h4>
        <div class="attribute-value">
          <span class="large">{{ meleeAttack }}</span>
        </div>
        <div class="tooltipcontent">
          @attributes.attack.shared : {{data.attributes.attack.shared}}<br/>
          @attributes.attack.general : {{data.attributes.attack.general}}<br/>
          @attributes.attack.melee : {{data.attributes.attack.melee}}<br/>
          @abilities.{{data.attributes.attack.meleeAbility}}.mod : {{data.attributes.attack.meleeAttackMod}}
          <br /><br />{{localize "PF1.FromSources"}}:<br/>
          {{#if sourceDetails.data.attributes.attack.shared.length}}
            {{#each sourceDetails.data.attributes.attack.shared as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
          {{#if sourceDetails.data.attributes.attack.general.length}}
            {{#each sourceDetails.data.attributes.attack.general as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
          {{#if sourceDetails.data.attributes.attack.melee.length}}
            {{#each sourceDetails.data.attributes.attack.melee as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
          {{#if data.attributes.attack.meleeAttackMod}}
            {{data.attributes.attack.meleeAttackLabel}}: {{data.attributes.attack.meleeAttackMod}}<br/>
          {{/if}}
        </div>
      </li>
      <li class="attribute attack ranged tooltip" data-attribute="rangedBase">
        <h4 class="attribute-name box-title rollable">{{localize "PF1.Ranged"}}</h4>
        <div class="attribute-value">
          <span class="large">{{ rangedAttack }}</span>
        </div>
        <div class="tooltipcontent">
          @attributes.attack.shared : {{data.attributes.attack.shared}}<br/>
          @attributes.attack.general : {{data.attributes.attack.general}}<br/>
          @attributes.attack.ranged : {{data.attributes.attack.ranged}}<br/>
          @abilities.{{data.attributes.attack.rangedAbility}}.mod : {{data.attributes.attack.rangedAttackMod}}
          <br /><br />{{localize "PF1.FromSources"}}:<br/>
          {{#if sourceDetails.data.attributes.attack.shared.length}}
            {{#each sourceDetails.data.attributes.attack.shared as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
          {{#if sourceDetails.data.attributes.attack.general.length}}
            {{#each sourceDetails.data.attributes.attack.general as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
          {{#if sourceDetails.data.attributes.attack.ranged.length}}
            {{#each sourceDetails.data.attributes.attack.ranged as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
          {{/if}}
          {{#if data.attributes.attack.rangedAttackMod}}
            {{data.attributes.attack.rangedAttackLabel}}: {{data.attributes.attack.rangedAttackMod}}<br/>
          {{/if}}
        </div>
      </li>
    </ul>
  </div>
</ul>

<div class="flexrow conditions" style="flex-grow: 0;"></div>

{{!-- Attack Navigation --}}
<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="attacks"}}
  <ul class="filter-list flexrow" data-filter="attacks">
    {{#each sections as |section sid|}}
      <li class="filter-item" data-filter="type-{{sid}}">{{section.label}}</li>
    {{/each}}
  </ul>
</div>

<div class="combat-attacks" style="overflow-y: scroll;">
  <section class="attacks-body">
    {{#each sections as |section sid|}}
      {{#unless section._hidden}}
        <div class="inventory-group flexcol">
          <ol class="inventory-list sub-scroll scroll-attacks">

            <li class="inventory-header flexrow">
              <h3 class="item-name flexrow">{{section.label}}</h3>
              {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon icon-magic-palm large" title="{{localize "PF1.Type"}}"></i></div>{{/if}}
              <div class="item-detail item-attacks"><label>{{localize "PF1.Attacks"}}</label></div>
              <div class="item-detail item-damage"><label>{{localize "PF1.Damage"}}</label></div>
              <div class="item-detail item-range"><label>{{localize "PF1.Range"}}</label></div>
              <div class="item-detail item-actions"><i class="icon icon-gears large" title="{{localize "PF1.ActionPlural"}}"></i></div>
              <div class="item-detail item-uses"><i class="icon icon-battery-pack large" title="{{localize "PF1.ActionPlural"}}"></i></div>
              {{#if ../owner}}
              <div class="item-controls">
                {{#if section.canCreate}}
                <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                  <i class="fas fa-plus" title="{{localize "PF1.Add"}}"></i>
                </a>
                {{/if}}
              </div>
              {{/if}}
            </li>

            <ol class="item-list">
              {{#each section.items as |item iid|}}
                <!-- item._id is correct here as item is an ItemData which is not a Document -->
                <li class="item flexrow" data-item-id="{{item._id}}">
                  <div class="item-name flexrow rollable">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <h4>
                      {{item.name~}}
                      {{#if section.canBreak}}
                          {{#if item.data.broken}}
                            <i class="fa fa-heart-broken"></i>
                          {{/if}}
                      {{/if}}
                    </h4>
                  </div>

                  {{#if section.showTypes}}
                    <div class="item-detail item-type">
                      <span>{{lookup ../../config.attackTypes item.data.attackType}}</span>
                    </div>
                  {{/if}}

                  <div class="item-detail item-attacks">
                    <label>{{itemAttacks item ../../rollData}}</label>
                  </div>

                  <div class="item-detail item-damage tooltip">
                    {{#if item.hasDamage}}
                    <label>{{ellipsis (itemDamage item ../../rollData) 8 -4 2}}</label>
                    <span class="tooltipcontent">
                      {{itemDamage item ../../rollData}}<br/>
                      <br/>
                      {{localize "PF1.Details"}}:<br/>
                      {{#each item.data.damage.parts as |pt ix|}}
                        {{pt.[0]}}{{#if pt.[1]}} [{{pt.[1]}}]{{/if}}<br/>
                      {{/each}}
                      {{#if item.data.damage.nonCritParts}}
                        {{#each item.data.damage.nonCritParts as |pt|}}
                          {{pt.[0]}}{{#if pt.[1]}} [{{pt.[1]}}]{{/if}}<br/>
                        {{/each}}
                      {{/if}}
                      {{#if item.data.ability.damage}}
                        {{abilityMod item.data.ability.damage ../../rollData item.data.ability.damageMult}} [{{lookup ../../config.abilities item.data.ability.damage}}]<br/>
                      {{/if}}
                      {{#if item.data.enh}}
                        {{item.data.enh}} [{{localize "PF1.EnhancementBonus"}}]<br/>
                      {{/if}}
                      {{#if item.data.damage.critParts}}
                        <br/>+ {{localize "PF1.CritDamageBonusFormula"}}<br/>
                      {{/if}}
                      {{#if item.data.conditionals}}
                        <br/>+ {{localize "PF1.Conditionals"}}<br/>
                      {{/if}}
                    </span>
                    {{/if}}
                  </div>

                  <div class="item-detail item-range">
                    {{#if item.hasRange}}
                    <label>{{itemRange item ../../rollData}}</label>
                    {{/if}}
                  </div>

                  <div class="item-detail item-actions">
                    <div class="item-attack tooltip">
                      {{#if item.hasAction}}
                        <span class="tooltipcontent">
                          {{localize "PF1.PerformAttack"}}
                        </span>
                        <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
                      {{/if}}
                    </div>
                  </div>

                  <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                    {{#if item.isCharged}}
                      <span class="text-box value" data-wheel-step="1" data-dtype="Number">{{item.data.uses.value}}</span>
                      <span class="sep"> / {{item.data.uses.max}}</span>
                      <span class="tooltipcontent">
                        @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                        @resources.{{item.tag}}.max : {{item.data.uses.max}}
                      </span>
                    {{/if}}
                  </div>

                  {{#if ../../owner}}
                    <div class="item-controls">
                      <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
                      <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                    </div>
                  {{/if}}
                </li>
              {{/each}}
            </ol>
          </ol>
        </div>
      {{/unless}}
    {{/each}}
  </section>
</div>
